<% provide(:title, 'All Users') %>
<h1>全てのユーザー</h1>

	<!--<検索拡張機能>-->
<div class="col-md-3 form-inline pull-right">
 <h>ユーザー検索</h>
  <%= form_tag(users_path, :method => 'get' ) do %>
  <%= select(@search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]])%>
    <%= text_field(@search_content, :search_word) %>
  <!--< text_field_tag :search %>-->
    <%= submit_tag '検索'%>
  <!--< submit_tag '検索', :name => nil %>-->
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
	<%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
      <tr>
        <td>
        	<%= link_to  user.name, user %> &nbsp; | &nbsp;
        	<%= link_to "基本情報の更新", edit_basic_info_user_path(user) %> 
        	 <% if current_user.admin? && !current_user?(user) %>&nbsp; | &nbsp;
           <%= link_to "削除", user, method: :delete,
              data: { confirm: "{user.name}を削除してよろしいですか？" } %>
          <% end %>
       </td>
     </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>